@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

.home-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.writing-animation {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

.description {
  display: flex;
  flex-direction: row;
  font-family: "IM Fell English SC", serif;
  text-align: center;
  color: white;
  width: 70%;
}

.talk-to-button {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  font-family: "Mea Culpa", cursive;
  font-size: 32px;
  cursor: pointer;
}

.character_selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.character {
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 230px;
}

.character-talk-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.chat-and-pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.chat {
  height: 479px;
  background-color: #0c1a3b;
  width: 669px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.text-output {
  padding: 26px;
  color: white;
  font-family: "IM Fell English SC", serif;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
}

.prompt-box {
  display: flex;
}

.input-field {
  width: 550px;
  padding: 10px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;
  color: white;
  font-family: "IM Fell English SC", serif;
  font-size: 20px;
  background-color: transparent;
}

.ask-btn {
  padding: 10px;
  color: white;
  background-color: transparent;
  font-family: "IM Fell English SC", serif;
  border-color: white;
  cursor: pointer;

  font-size: 20px;
}

.text {
  color: white;
  font-family: "Mea Culpa", cursive;
  font-size: 45px;
  height: 10px;
}
