@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

.App {
  text-align: center;
  background-color: #282c34;
}

.top-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.character {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 11%;
}

.talk-to-button {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  font-family: "Mea Culpa", cursive;
  font-size: 36px;
  cursor: pointer;
}

.character_selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40vh; /* Magic here */
  justify-content: center;
  gap: 10vh;
}

.character-talk-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh; /* Magic here */
  justify-content: center;
  gap: 10vh;
}

.left-side {
  background-color: transparent;
}

.chat {
  height: 534px;
  background-color: #102555;
  width: 738px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.text-output {
  width: 50vh;
  padding: 25px;
  display: flex;
  color: white;
  font-family: "IM Fell English SC", serif;
  font-size: 18px;
}

.prompt-box {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 30px;
}

.input-field {
  width: 40vh;
}
